<h1>Editing task</h1>

    <br/>
    <%= render 'form' %>
    <div class="checkbox">
        <label>
          <%= check_box_tag(:complete) %>
          <%= label_tag(:complete, "Complete") %>
        </label>
    </div>


<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
