<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class: "btn btn-info" %>
  </div>
  <h1><%= @task.description %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_task_path(@project, @task)%></li>
  <li class="active">Show</li>
</ol>

<p>
  <strong>Due:</strong>
  <% if @task.due_date %>
    <%= @task.due_date.strftime("%m/%d/%Y") %>
    <% else nil %>
    <% end %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<h3>Comments</h3>
<% @comments.each do |comment| %>
  <div class="row">
    <div class="col-md-3">
      <p>
      <strong><%= link_to comment.user.full_name, user_path(comment.user) %></strong>
      </p>
      <p class= "text-muted">
        <%=  time_ago_in_words(comment.created_at) %>
      </p>
    </div>
    <div class= "col-md-9">
      <%= comment.comment_body %>
    </div>
  </div>
<% end %>

<%= form_for @comment, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      <%= hidden_field_tag :task_id, @task.id %>
      <%= f.text_area :comment_body, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-9 col-md-offset-3">
      <%= f.submit "Add Comment", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
