<strong><p class="alert-success text-center"><%= notice %></p></strong>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @task.complete %>
</p>

<p>
  <strong>Due Date:</strong>
  <% if @task.due_date %>
    <%= @task.due_date.strftime("%m/%d/%Y") %>
    <% else nil %>
    <% end %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
