<div class="page-header">
  <h1>Frequently Asked Questions</h1>
</div>

<br/>
<br/>
<ul>
  <% @faqs.each do |faq| %>
    <li>
      <strong><%= link_to(faq.question,
      faq_path(@faq, :anchor => faq.question.gsub(/ /, '-'))) %></strong>
    </li>
<br/>
  <% end %>
</ul>
<br/>
<br/>

<% @faqs.each do |faq| %>
    <strong><a name="<%= faq.question.gsub(/ /, '-') %>"></a><%= faq.question %></strong>
    <p><%= faq.answer %></p>
    <%= link_to("Top", faq_path(:anchor => "top")) %>
    <br/>
    <br/>
  <% end %>
