<h1>Frequently Asked Questions</h1>
<br/>
<br/>
<ul>
  <% @faqs.each do |faq| %>
    <li>
      <strong><%= link_to(faq.question, faq_path(:anchor => faq.question)) %></strong>
    </li>
<br/>
  <% end %>
</ul>
<br/>
<br/>

<% @faqs.each do |faq| %>
  <a name= "<%= faq.question %>"></a>
    <strong><%= faq.question %></strong>
    <footer><%= faq.answer %></footer>
    <%= link_to("Top", faq_path(:anchor => "top")) %>
    <br/>
    <br/>
  <% end %>
