<div class="background">
    <div class="jumbotron">
      <div class"container">
        <h1><b>g</b>Camp</h1>
        <p>Your life, organized.</p>
      </div>
    </div>
    <div class= "row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag("workphoto.jpg", class: "img-responsive index-image") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
              <%= image_tag("workphoto3.jpg", class: "img-responsive index-image") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <%= image_tag("workphoto2.jpg", class: "img-responsive index-image") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Tasks</h2>
          </div>
          <div class="panel-body">
            <p>Grouped by projects and lists. Just the way you like'em.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Documents</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Upload</li>
              <li>Comment</li>
              <li>Revise</li>
            </ul>
          </div>
        </div>
     </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Comments</h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>Comment on tasks and documents</li>
              <li>Get email notifications</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% @quotes.each do |quote| %>
      <blockquote>
        <p>"<%= quote.quote %>"</p>
        <footer><em><%= quote.author %></em></footer>
      </blockquote>
      <% end %>
</div>
